<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTPW-iB74QbIcLETHQokQOVtPozlRVpRo</string>
	<key>GCM_SENDER_ID</key>
	<string>787600606699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strengthStat</string>
	<key>PROJECT_ID</key>
	<string>strengthstat-a63d4</string>
	<key>STORAGE_BUCKET</key>
	<string>strengthstat-a63d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787600606699:ios:90811776c51ea00f9ec5ae</string>
</dict>
</plist>